<div class="header">
  <div class="logo">
    <i class="fas fa-podcast"></i>
    <span class="name">网易云音乐</span>
  </div>

  <div class="switch-page">
    <span class="before"><i class="fas fa-chevron-left"></i></span>
    <span class="after"><i class="fas fa-chevron-right"></i></span>
  </div>

  <div class="search-con">
    <input type="text" class="search" placeholder="搜索音乐，视频，歌词，电台">
  </div>

  <div class="tool-bar">
      <div class="login">
          <i class="fas fa-user-circle"></i>
          <span>未登陆</span>
          <i class="fas fa-sort-down"></i>
      </div>
      <i class="fas fa-tshirt"></i>
      <i class="fas fa-envelope"></i>
      <i class="fas fa-cog"></i>
  </div>
</div>
