<div class="footer">
  <div class="before">
    <i class="material-icons">
      skip_previous
      </i>
  </div>

  <div class="pause">
    <i class="material-icons">
      play_arrow
      </i>
  </div>

  <div class="after">
    <i class="material-icons">
      skip_next
      </i>
  </div>

  <div class="time">00:02</div>

  <mat-slider class="time-slider" color="primary"></mat-slider>

  <div class="time-total">03:26</div>

  <div class="volume">
    <i class="material-icons">
      volume_up
      </i>
      <mat-slider class="volume-slider" color="primary"></mat-slider>
  </div>

  <div class="action">
    <i class="material-icons">
      repeat_one
      </i>

      <i class="material-icons">
        menu_book
        </i>

        <i class="material-icons">
          playlist_play
          </i>
  </div>
</div>