<div class="footer">
  <audio [src]="songDetail.url" #playerRef></audio>
  <div class="control">
    <div class="before">
      <i class="material-icons">
        skip_previous
      </i>
    </div>

    <div class="pause" (click)="play()">
      <i *ngIf="!playing" class="material-icons">
        play_arrow
      </i>
      <i *ngIf="playing" class="material-icons">
        pause
      </i>
    </div>

    <div class="after">
      <i class="material-icons">
        skip_next
      </i>
    </div>
  </div>

  <div class="duration">
    <div class="time">{{currentTime}}</div>

    <mat-slider class="time-slider" color="primary" [min]="sliderMin" [max]="sliderMax" [(ngModel)]="sliderValue"
      (change)="setCurrentTime($event)"></mat-slider>

    <div class="time-total">{{duration}}</div>
  </div>

  <div class="volume">
    <i *ngIf="volume === 0" class="material-icons">
      volume_off
    </i>
    <i  *ngIf="volume !== 0" class="material-icons">
      volume_up
    </i>
    <mat-slider class="volume-slider" color="primary" min="0" max="10" [(ngModel)]="volume" (change)="setVolume($event)"
      tickInterval="10"></mat-slider>
  </div>

  <div class="action">
    <i class="material-icons">
      repeat_one
    </i>

    <i class="material-icons">
      menu_book
    </i>

    <i class="material-icons" (click)="openPlayList()">
      playlist_play
    </i>
  </div>
</div>
