<div class="footer">
  <audio [src]="songDetail.url" #playerRef></audio>
  <div class="control">
    <div class="before" (click)="before()" [style.background]="theme">
      <i class="material-icons">
        skip_previous
      </i>
    </div>

    <div class="pause" (click)="play()" [style.background]="theme">
      <i *ngIf="!playing" class="material-icons">
        play_arrow
      </i>
      <i *ngIf="playing" class="material-icons" [style.background]="theme">
        pause
      </i>
    </div>

    <div class="after" (click)="after()"  [style.background]="theme">
      <i class="material-icons">
        skip_next
      </i>
    </div>
  </div>

  <div class="duration">
    <div class="time">{{currentTime}}</div>

    <mat-slider class="time-slider" color="primary" [min]="sliderMin" [max]="sliderMax" [(ngModel)]="sliderValue"
      (change)="setCurrentTime($event)"></mat-slider>

    <div class="time-total">{{duration}}</div>
  </div>

  <div class="volume">
    <i *ngIf="volume === 0" class="material-icons">
      volume_off
    </i>
    <i *ngIf="volume !== 0" class="material-icons">
      volume_up
    </i>
    <mat-slider class="volume-slider" color="primary" min="0" max="10" [(ngModel)]="volume" (change)="setVolume($event)"
      tickInterval="10"></mat-slider>
  </div>

  <div class="action">
    <i class="material-icons" *ngIf="loopStatus === 1" (click)="updateLoopStatus()" title="单曲循环">
      repeat_one
    </i>

    <i class="material-icons" *ngIf="loopStatus === 0" (click)="updateLoopStatus()" title="列表循环">
      playlist_play
    </i>

    <i class="material-icons" *ngIf="loopStatus === 2" (click)="updateLoopStatus()" title="随机播放">
      shuffle
    </i>

    <i class="material-icons" title="歌词">
      menu_book
    </i>

    <i class="material-icons" (click)="openPlayList()" title="播放列表">
      list
    </i>

  </div>
</div>
