<div class="recommend">
  <div class="title">推荐</div>
  <app-nav-selected path="/home/findMusic" icon="fas fa-music" label="发现音乐" (click)="navigateTo('/home/findMusic')"></app-nav-selected>
  <app-nav-selected path="/home/privateFm" icon="fas fa-microphone-alt" label="私人FM" (click)="navigateTo('/home/privateFm')"></app-nav-selected>
  <app-nav-selected path="/home/vv" icon="fas fa-music" label="LOOK直播" (click)="navigateTo('/home/findMusic')"></app-nav-selected>
  <app-nav-selected path="/home/aa" icon="fas fa-microphone-alt" label="视频" (click)="navigateTo('/home/privateFm')"></app-nav-selected>
  <app-nav-selected path="/home/cc" icon="fas fa-microphone-alt" label="朋友" (click)="navigateTo('/home/privateFm')"></app-nav-selected>
</div>


<div class="recommend">
  <div class="title">我的音乐</div>
  <app-nav-selected path="/home/hh" icon="fas fa-music" label="本地音乐" (click)="navigateTo('/home/findMusic')"></app-nav-selected>
  <app-nav-selected path="/home/dd" icon="fas fa-microphone-alt" label="下载管理" (click)="navigateTo('/home/privateFm')"></app-nav-selected>
</div>


<div class="recommend">
  <div class="title">创建的歌单</div>
  <app-nav-selected path="/home/hh" icon="fas fa-music" label="我喜欢的音乐" (click)="navigateTo('/home/findMusic')"></app-nav-selected>
</div>