<div class="playing-preview">
  <div class="logo" [style.background]="'url(' + songDetail.preview + ')'" (click)="openPlaying()">

  </div>
  <div class="expand" (click)="openPlaying()">
    <i class="material-icons forward">
      arrow_forward
    </i>
    <i class="material-icons back">
      arrow_back
    </i>
  </div>
  <div class="infor">
    <div class="name">
      {{songDetail.name}}
    </div>
    <div class="author">
      {{songDetail.author}}
    </div>
  </div>
  <div class="action">
    <i class="like fas fa-heart"></i>
    <i class="delete fas fa-trash-alt"></i>
  </div>
</div>
