.song-bg{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px);
    filter: blur(10px);
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;

    .fog{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 2000px rgb(255, 255, 255) inset;
        z-index: 100;
    }
}

.song-detail{
    position: absolute;
    top: 0;
    /* float: left; */
    width: 100%;
    height: 100%;

    .detail-con{
        width: 100%;
        height: 100%;
        position: relative;
        background: #ffffffa3;

        .title {
            width: 40%;
            height: 70px;
            position: absolute;
            right: 100px;
            top: 25px;
            font-size: 12px;

            .tit {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .zhuanji, .author{
                color: #5b8be6;
                display: inline-block;
                margin-right: 20px;
            }
        }

        .lyric{
            width: 40%;
            height: 70%;
            overflow: auto;
            position: absolute;
            right: 100px;
            top: 100px;
            scroll-behavior: smooth;

            .row{
                height: 30px;
                line-height: 30px;
                color: #000;
            }

            span.time {
                opacity: 0;
            }
        }

        .close-btn{
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            border: 1px solid #bcbfbc;
            width: 35px;
            line-height: 30px;
            height: 30px;
            text-align: center;
            border-radius: 3px;

            &:hover{
                color: #c5c5c5;
            }
        }

        .bar{
            background: url(/assets/images/bar.png);
            height: 140px;
            width: 280px;
            background-repeat: no-repeat;
            position: absolute;
            left: 250px;
            top: -5px;
            transform: scale(0.6, 0.6) rotate(0deg);
            transform-origin: 35px 35px;
            transition: all 0.5 ease-in-out;
        }

        .img{
            width: 300px;
            height: 300px;
            position: absolute;
            left: 115px;
            top: 72px;
            border-radius: 50%;
            background-size: cover !important;
            border: 50px solid #000;
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }
    }
}

