<mat-tab-group class="find-music">
  <mat-tab  class="find-tab" label="个性推荐">
      <div class="example-large-box mat-elevation-z4">
          <app-find-recommend [songs]="songs"></app-find-recommend>
      </div>
  </mat-tab>
  <mat-tab  class="find-tab" label="歌单">
      <div class="example-large-box mat-elevation-z4">
          <app-find-songs [songs]="songs"></app-find-songs>
      </div>
  </mat-tab>
  <mat-tab  class="find-tab" label="主播电台">主播电台</mat-tab>
  <mat-tab   class="find-tab"label="排行榜">排行榜</mat-tab>
  <mat-tab  class="find-tab" label="歌手">歌手</mat-tab>
  <mat-tab  class="find-tab" label="最新音乐">最新音乐</mat-tab>

  
</mat-tab-group>


