

.song-list {
    width: 100%;
    height: 100%;

    

    .content{
        height: 100%;
        width: 100%;
        overflow: hidden;

        .mat-tab-body-content{
            overflow: hidden !important;
        }

        .song-item.header{
            border-bottom: 1px solid #e2e0e0;
            height: 30px;
            display: flex;
        }

        .song-item:hover{
            background: #e8e8e8 !important;
        }

        .song-item {
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            user-select: none;
            display: flex;

            span.number {
                display: inline-block;
                width: 5%;
                text-align: center;
            }

            .number.current{
                color: #5b8be6 !important;
            }

            span.love {
                display: inline-block;
                width: 10%;
                line-height: 25px;
                
                i{
                    font-size: 16px;
                    transform: translateY(3px);
                    &:hover{
                        color: gray;
                    }
                    margin-right: 5px;
                }
            }

            span.download {
                display: inline-block;
                width: 5%;
                text-align: center;

                i{
                    font-size: 16px;
                    transform: translateY(3px);
                    &:hover{
                        color: gray;
                    }
                    border: 1px solid gray;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }

            span.title {
                width: 40%;
                display: inline-block;
                font-size: 13px;
                padding-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 5px;
            }

            span.vip {
                color: red;
                border: 1px solid red;
                padding: 1px 2px 1px 2px;
                font-size: 10px;
                margin-left: 10px;
                border-radius: 3px;
            }

            span.author {
                display: inline-block;
                width: 20%;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 5px;
            }

            span.zhuanji {
                display: inline-block;
                width: 20%;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 100%;
                padding-right: 10px;
                overflow-y: hidden;
                white-space: nowrap;
            }

            span.time {
                display: inline-block;
                font-size: 12px;
                color: gray;
            }

            span.action {
                display: inline-block;
                width: 10%;
            }
        }

        .song-item:nth-child(odd){
            background: #fff;
        }

        .song-item:nth-child(even){
            background: #fbfbfb;
        }
    }
}