/* You can add global styles to this file, and also import other style files */


// @import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div, p, ol, ul{
    margin: 0;
    padding: 0;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.39); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bad5b; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bad5b; 
}



@import '~@angular/material/theming';
@include mat-core();


$mat-green: (
  50: #75ec57,
  100: #75ec57,
  200: #75ec57,
  300: #e57373,
  400: #ef5350,
  500: #27b45d,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);


$app-primary: mat-palette($mat-green);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);