<div class="play-list-con">
  <div class="header">
    <button [class.selected]="showList" class="list" (click)="showListPage()">播放列表</button>
    <button [class.selected]="!showList" class="history" (click)="showHistory()">历史记录</button>
  </div>

  <div class="content">
    <div class="list" *ngIf="showList">
      <div class="total">
        总{{playList.length}}首
      </div>
      <div class="item-con">
        <div class="item" *ngFor="let item of playList;" (click)="singleClick(item)" (dblclick)="doubleClick(item)">
          <span class="playing"><i *ngIf="item.id === currentSong.id" class="fas fa-headphones"></i></span>
          <span class="name">{{item.name}}</span>
          <span class="status" *ngIf="item.vip">SQ</span>
          <span class="time">{{item.time}}</span>
          <span class="from" [title]="item.source"><i class="material-icons">
              link
            </i></span>
          <span class="author">{{item.author}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="history" *ngIf="!showList">

  </div>
</div>
