<div class="home">
  <div class="playing" *ngIf="playing">
    <app-playing (close)="closePlaying()"></app-playing>
  </div>
  <div class="left">
    <app-nav-recommend></app-nav-recommend>
    <app-playing-preview (open)="openPlaying()"></app-playing-preview>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
  <div class="bottom">
    <app-footer (open)="openPlayList()"></app-footer>
  </div>
  <div class="play-list" *ngIf="playList">
    <app-play-list (close)="closePlayList()"></app-play-list>
  </div>
</div>