

.song-list {
    width: 100%;
    height: 100%;

    .header {
        height: 250px;
        width: 100%;
        position: relative;

        .actions {
            position: absolute;
            left: 250px;
            top: 108px;
            width: 400px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .save {
                width: 82px;
                height: 25px;
                border: 1px solid #e4e4e4;
                line-height: 23px;
                border-radius: 5px;
                text-align: center;
            }

            .share {
                width: 82px;
                height: 25px;
                border: 1px solid #e4e4e4;
                line-height: 23px;
                border-radius: 5px;
                text-align: center;
            }

            span.download-all {
                width: 82px;
                height: 25px;
                border: 1px solid #e4e4e4;
                line-height: 23px;
                border-radius: 5px;
                text-align: center;
            }

            .play-all {
                width: 120px;
                height: 25px;
                background: #5b8be6;
                font-size: 11px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: #fff;
                border-radius: 5px;

                .left{
                    flex: 2;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding-right: 5px;
                    height: 100%;
                    border-radius: 5px 0 0 5px;
                    cursor: pointer;

                    &:hover{
                        background: #4f7bce;
                    }
                }
                
                i.material-icons {
                    font-size: 16px !important;
                }

                .add-all {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: 1px solid rgba(255, 255, 255, 0.6);
                    flex: 1;
                    height: 100%;
                    border-radius: 0px 5px 5px 0px;
                    cursor: pointer;

                    &:hover{
                        background: #4f7bce;
                    }
                }
            }
        }

        .img {
            width: 200px;
            height: 200px;
            position: absolute;
            left: 20px;
            top: 30px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .category {
            height: 30px;
            width: 50%;
            position: absolute;
            left: 250px;
            top: 30px;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;

            span.cate-label {
                font-size: 11px;
                border: 1px solid red;
                color: red;
                padding: 1px 5px 1px 5px;
                margin-right: 10px;
                border-radius: 3px;
                font-weight: normal;
            }
        }

        .songer {
            position: absolute;
            left: 250px;
            top: 70px;
            width: 25;
        }

        .create-date {
            display: inline-block;
            position: absolute;
            left: 341px;
            top: 71px;
            color: #a5a5a5;
            font-size: 12px;
        }

        .desc {
            width: 40%;
            position: absolute;
            left: 250px;
            top: 187px;
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: 42px;
            margin: 0 auto;
            font-size: 13px;
            line-height: 1.5;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            max-width: 100%;
            height: 43px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1.5;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .labels {
            position: absolute;
            left: 250px;
            top: 159px;
            font-size: 12px;
        }
    }

    .content{
        height: calc(100% - 250px);
        width: 100%;

        .mat-tab-body-content{
            overflow: hidden !important;
        }

        .song-item.header{
            border-bottom: 1px solid #e2e0e0;
            display: flex;
        }

        .song-item:hover{
            background: #e8e8e8 !important;
        }

        .song-item {
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            user-select: none;
            display: flex;

            span.number {
                display: inline-block;
                width: 5%;
                text-align: right;
            }

            .number.current{
                color: #5b8be6 !important;
            }

            span.love {
                display: inline-block;
                width: 5%;
                text-align: right;

                i{
                    font-size: 15px;
                    transform: translateY(3px);
                    &:hover{
                        color: gray;
                    }
                }
            }

            span.download {
                display: inline-block;
                width: 5%;
                text-align: center;

                i{
                    font-size: 15px;
                    transform: translateY(3px);
                    &:hover{
                        color: gray;
                    }
                    border: 1px solid gray;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }

            span.title {
                width: 40%;
                display: inline-block;
                font-size: 13px;
                padding-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 5px;
            }

            span.vip {
                color: red;
                border: 1px solid red;
                padding: 1px 2px 1px 2px;
                font-size: 10px;
                margin-left: 10px;
                border-radius: 3px;
            }

            span.author {
                display: inline-block;
                width: 20%;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 5px;
            }

            span.zhuanji {
                display: inline-block;
                width: 20%;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 5px;
            }

            span.time {
                display: inline-block;
                font-size: 12px;
                color: gray;
            }

            span.action {
                display: inline-block;
                width: 10%;
                padding-left: 40px;
            }
        }

        .song-item:nth-child(odd){
            background: #fff;
        }

        .song-item:nth-child(even){
            background: #fbfbfb;
        }
    }
}